<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<filter>
  		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">inc/</directory>
			<exclude>class-contributors-plugin-core-main.php</exclude>
  		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="my-gallery-models">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<exclude>./tests/test-sample.php</exclude>
		
		</testsuite>
	</testsuites>
</phpunit>
